<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find fullbot_moveit)/config/joint_2_controller.yaml" command="load"/>
  
  <!-- load the controllers -->
  <node name="controller_spawner2" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/full_bot" args="fullbot_armleft_j2_controller joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint6_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher2" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/full_bot/joint_states" />
  </node>
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

</launch>
