<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="srsstatic">
  <link
    name="srsstatic">
    <inertial>
      <origin
        xyz="-5.2026E-10 0.205 1.4065E-09"
        rpy="0 0 0" />
      <mass
        value="0.01278" />
      <inertia
        ixx="0.11505"
        ixy="1.3688E-11"
        ixz="6.7378E-11"
        iyy="0.11497"
        iyz="-1.4898E-10"
        izz="0.11505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/likith/ws_moveit/src/fullbot_moveit/meshes/srsstatic.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/likith/ws_moveit/src/fullbot_moveit/meshes/srsstatic.STL" />
      </geometry>
    </collision>
  </link>
</robot>